@media screen and (max-width: 1200px){
    #up_button{display: none!important;}
    .left-nav{width:55%; }

    .thumbnail-ruby-image {
        width: 60%;
    }
}
@media screen and (max-width: 1000px) {
    #bs-example-navbar-collapse-1{

        z-index: 1000;
        position: fixed;

    }
    .left-nav{width:70%; font-size: 11px;}
    .rd-navbar-nav-wrap-right{display: none;}
    .toggle-original-elements{width: 30%;}
    .navbar-toggle{margin: 0px!important; padding: 0px!important;}

}
@media (min-width: 768px){
    .navbar {
        border-radius: 0px!important;
    }
}


@media screen and (max-width: 767px) {
    #bs-example-navbar-collapse-1{
        margin-top: 0px;
        width: 50%;
    }
    .toggle-original-elements{display: none;}
    .left-nav{padding-left: 40px;font-size: 14px;}

    .wow-outer{font-size: 22px!important;}
}
@media screen and (min-width: 768px) {
    #logo_out{display: none!important;}
}
@media screen and (max-width: 290px) {
    #logo_out{display: none!important;}
    .left-nav {padding-left: 0px;padding-top: 60px;}
}

@media screen and (max-width: 560px) {
    #price_table{
        font-size: 12px;
    }
    .post-modern-meta-auto{
        padding-left: 0px!important;
    }
    .l-caption{
        font-size: 12px;
        padding-left: 6px;
    }
    /*#s_cena{display: none;}*/
    #kol{margin-top: 10px;}
}

@media screen and (max-width: 440px) {
    .footer-advanced-aside span {
        font-size: 11px;
    }

    .pre-img img{
        width: 250px!important;
        height:160px!important;
    }

}